@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 266, 100%, 99%;
    --foreground: 230, 9%, 13%;

    --card: 263, 100%, 97%;
    --card-foreground: 230, 9%, 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 230, 9%, 13%;

    --primary: 36, 44%, 43%;
    --primary-foreground: 0 0% 98%;

    --secondary: 36, 100%, 91%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 36, 44%, 43%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 36, 100%, 91%;
    --input: 266, 100%, 95%;
    --ring: 266, 100%, 0%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: hsl(266, 100%, 99%);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(266, 100%, 99%);
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: hsl(267, 50%, 0%);
}

.debout {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.perspective-top {
  perspective-origin: top;
  perspective: 1500px;
}
